
<table>
    <tr>
        <th>Name</th>
        <th>Language</th>
        <th>Description</th>
        <th></th>
    </tr>
    <% projects.each do |proj| %>
        <tr>
            <td><%= proj.name %></td>
            <td><%= proj.language %></td>
            <td><%= proj.description %></td>
            <td><%= edit_project(proj) %> <%= link_to('View', user_project_path(current_user,proj)) %></td>
        </tr>
    <% end %>
</table>
