<h1><%= @project.name %></h1>
<h3>By: <%= @project.user.name %></h3>

<p>Written in: <%= @project.language %></p>
<p>Repo URL: <%= link_to @project.url %></p>

<% if current_user == @project.user %>
    <%= button_to "Delete", user_project_path(@project), method: :delete %>
<% end %>

<p><%= @project.description %></p>

<%= render partial: "comments/comments", locals: {comments: @project.comments} %>
<%= render partial: "comments/form", locals: {comment: @project.comments.new} %>
