<h1><%= @project.name %></h1>
<h3>By: <%= @project.user.name %></h3>

<p>Written in: <%= @project.language %></p>
<p>Repo URL: <%= link_to @project.url %></p>

<% if current_user == @project.user %>
    <%= button_to "Delete", project_path(@project), method: :delete %>
<% end %>

<p><%= @project.description %></p>
